doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript' src='http://oss.maxcdn.com/jquery/2.1.4/jquery.min.js')
	body
		#header
			block header
		block content
