extends layout

block header
	a.jump(href='/signup') Sign Up

block content
	#main_content.signin
		h1 Sign In
		form(action='/signin', method='post')
			.form
				input.textfield(type='text', name='name', placeholder='Username', value= user ? user.name : undifine)
				if error && error.position == 'name'
					.error #{error.message}
			.form
				input.textfield(type='password', name='pwd', placeholder='Password')
				if error && error.position == 'pwd'
					.error #{error.message}
			.form
				input#submit.button(type='submit', name='submit', value='Sign In')
	script(type='text/javascript' src='/javascripts/signin.js')